<h1>Game page</h1>

<div id="game">
Account name: {{name}}<br>
Account token: {{token}}
</div>

<div>
List of characters<br>
+ Add character
</div>

<script>
$(document).ready(() => {
    init({{id}});
});
</script>
