<button id="btnNewGame" class="btn btn-primary">New Game</button>
<button id="btnLoadGame" class="btn btn-primary">Load Game</button>


<script src="/assets/js/title.js"></script>
<script>init();</script>
